.order-review {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    height: calc(100vh - 115px);
}

/* left  */

.order-review-left {
    width: 60%;
    padding: 3%;
    height: 100%;
    height: 100%;
}

.order-review-left-outer {
    height: 100%; 
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-review-left-outer h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.order-review-container {
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-review-delivery {
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
}

.review-cart-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* right  */

.order-review-right {
    width: 40%;
    padding: 3%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.order-review-right-outer {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.order-review-payment-confirm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.order-review-payment-confirm button {
    width: 75%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    padding: 3%;
}

.order-review-fees {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.fees-inner {
    display: flex;
    justify-content: space-between;
}

.order-review-tip {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-review-final {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.order-review-final .tip-container:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.tip-container {
    display: flex;
    justify-content: space-evenly;
}

.order-review-total {
    display: flex;
    justify-content: space-between;
}

.review-cart-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.edit-form {
    position: absolute;
    background-color: whitesmoke;
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.edit-form-details {
    width: 80%;
    margin: auto;
    height: 100%;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.edit-form .dropdown {
    padding: 2%;
}